@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #020617;
}


.glass-card {
  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  transition: all 0.3s ease;
}

/* Isse images aur icons bohot bade nahi dikhenge */
.glass-card img, .glass-card svg {
  max-width: 100%;
  height: auto;
}

.glass-card:hover {
  background: rgba(15, 23, 42, 0.8);
  border-color: rgba(56, 189, 248, 0.2);
}